body {
  background: #d0d0d0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#knife {
  width: 50px;
}

.fight__container {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 600px;
  height: 400px;
  border: 2px solid black;
  background-color: #fff;
  visibility: hidden;
}
.stats__content {
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.player-1,
.player-2,
.fight__box {
  padding: 5px;
  flex-grow: 1;
}

#player1,
#player2 {
  width: 50px;
}

.weapons {
  width: 50px;
}
.fight__btn {
  margin-right: 1rem;
}
.flash {
  @keyframes big {
    from {
      translate: 0;
    }
    to {
      translate: 0;
    }
  }
}
p {
  margin: 5px;
}

/* sidebar fightbox */
.map__container {
  display: flex;
}
canvas {
  background: #fff;
  margin: 5px;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
}
.stats {
  background-color: #f2f2f2;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  margin: 5px;
  flex-grow: 1;
}

.stats__content {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.player-1 {
  margin-bottom: 2rem;
}
.player-2 {
  margin-bottom: 2rem;
}
.fight__box {
}

.fight__btn,
.defend__btn {
  background-color: #0097e6;
  border-radius: 26px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
.fight__btn:disabled,
.defend__btn:disabled {
  background-color: gray;
}
.action__btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
